@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #00040f;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 130%;
}

.blur_filter {
  position: fixed;
  width: 345px;
  height: 514px;
  left: 432px;
  top: 88.05px;

  background: #e88007;
  filter: blur(450px);
  border-radius: 200px;
  transform: rotate(-20.01deg);
}

.hero_section {
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  background: linear-gradient(
    90deg,
    #221fd8 10.14%,
    #12badf 49.71%,
    #c5018e 84.62%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  border-radius: 10px;
}

.icon_rgba {
  background: rgba(9, 151, 124, 0.1);
}

.list_item:hover {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.transaction_list {
  height: 280px;

  background: linear-gradient(113.08deg, #ffffff -242.51%, #14101d 85.56%);
  box-shadow: inset -0.243217px -0.243217px 0.364826px rgba(0, 0, 0, 0.36);
  backdrop-filter: blur(15.2011px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 9.12064px;
}

.triangle-down {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 15px solid #bb2d2d;
  border-radius: 2px;
}

.triangle-up {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 15px solid #1ae5be;
  border-radius: 2px;
}

.make_payment_card {
  width: 227px;
  height: 216px;

  background: linear-gradient(110.53deg, #ffffff -265.46%, #14101d 96.75%);
  box-shadow: 4px 6px 30px rgba(19, 36, 46, 0.25);
  border-radius: 10px;
}

.paypal_btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  letter-spacing: 0.01em;

  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.newsLetter_section {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  backdrop-filter: blur(5px);
  border-radius: 20px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
