@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #00040f;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 130%;
  position: relative;
  overflow-x: hidden;
}

.blur_filter {
  position: absolute;
  width: 345px;
  height: 514px;
  left: 432px;
  top: 88.05px;

  background: #e88007;
  filter: blur(450px);
  border-radius: 200px;
  transform: rotate(-20.01deg);
}

.hero_section {
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  background: linear-gradient(
    90deg,
    #221fd8 10.14%,
    #12badf 49.71%,
    #c5018e 84.62%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn_gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  border-radius: 10px;
}

.icon_rgba {
  background: rgba(9, 151, 124, 0.1);
}

.list_item:hover {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.transaction_list {
  height: 280px;

  background: linear-gradient(113.08deg, #ffffff -242.51%, #14101d 85.56%);
  box-shadow: inset -0.243217px -0.243217px 0.364826px rgba(0, 0, 0, 0.36);
  backdrop-filter: blur(15.2011px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 9.12064px;
}

.triangle-down {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 15px solid #bb2d2d;
  border-radius: 2px;
}

.triangle-up {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 15px solid #1ae5be;
  border-radius: 2px;
}

.make_payment_card {
  width: 227px;
  height: 216px;

  background: linear-gradient(110.53deg, #ffffff -265.46%, #14101d 96.75%);
  box-shadow: 4px 6px 30px rgba(19, 36, 46, 0.25);
  border-radius: 10px;
}

.paypal_btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  letter-spacing: 0.01em;

  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.newsLetter_section {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  backdrop-filter: blur(5px);
  border-radius: 20px;
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.second_filter {
  position: absolute;
  width: 436.52px;
  height: 544.07px;
  left: 1599.85px;
  top: 767px;

  background: linear-gradient(90deg, #1a2980 0%, #26d0ce 100%);
  filter: blur(325px);
  border-radius: 200px;
  transform: rotate(47.46deg);
}

.third_filter {
  position: absolute;
  width: 345px;
  height: 514px;
  left: -303px;
  top: 1182.05px;

  background: rgba(232, 128, 7, 0.75);
  filter: blur(450px);
  border-radius: 200px;
  transform: rotate(-20.01deg);
}
